// -----------------------------------------------------------------------------
// This file contains all styles related to the add book button component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as a;
@use '../themes/' as t;

.add-dialog {
  position: relative;
  top: 40%;
  transform: translateY(-60%);
  margin: 0 auto;
  border: none;
  border-radius: a.$border-radius;

  .add-dialog__form {
    background-color: a.theme-color('foreground');
    padding: 2rem;
    max-width: 50ch;
    border-radius: a.$border-radius;
    box-shadow: t.$box-shadow;

    &__title {
      display: flex;
      justify-content: space-between;
      padding-block-end: 2rem;

      &__text {
        @include a.text-setting(600);
        font-family: 'Roboto Condensed';
        font-weight: 700;
        flex-basis: 80%;
      }

      &__close-button {
        border-radius: 1.5rem;
        background-image: url('./delete-red.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        width: 3rem;
        height: 3rem;
        &:focus-visible {
          background-color: a.theme-color('foreground', 'light');
          outline: 0.0675rem solid a.theme-color('accent');
          box-shadow: t.$box-shadow;
        }
        &:hover:not(:disabled) {
          background-color: a.theme-color('foreground', 'dark');
          box-shadow: t.$box-shadow;
        }
        &:focus {
          background-color: a.theme-color('foreground', 'light');
          outline: 0.0675rem solid a.theme-color('accent');
        }
        &:active:not(:disabled) {
          background-color: a.theme-color('foreground', 'light');
          box-shadow: none;
          outline: none;
        }
      }
    }

    &__data {
      padding-inline: 1.5rem;
      padding-block-end: 2rem;

      > * {
        padding-block-end: 0.5rem;
      }

      label {
        text-transform: uppercase;
        @include a.text-setting(300);
        font-weight: 500;
        letter-spacing: 0.075rem;
      }

      input:not([type='checkbox']) {
        width: 100%;
        border: 0.075rem solid a.theme-color('background', 'dark');
        border-radius: a.$border-radius;
        box-shadow: t.$box-shadow;
        padding-inline: 0.75rem;
        padding-block: 0.25rem;

        &:focus,
        &:focus-visible {
          outline: none;
          border-color: a.theme-color('accent');
          box-shadow: t.$box-shadow;
        }
      }

      &__read {
        margin-top: 1rem;

        input {
          display: inline-block;
          margin-right: 0.5rem;
        }
      }
    }

    &__button {
      @include a.text-setting(500);
      font-family: 'Roboto Condensed';
      font-weight: 700;
      margin-inline: auto;
      display: block;
      padding: 0.875rem 1.75rem;
      border-radius: calc(a.$border-radius / 1.5);
      color: a.theme-color('light');
      background-color: a.theme-color('primary');
      box-shadow: t.$box-shadow;

      &:focus-visible {
        background-color: a.theme-color('primary', 'light');
        box-shadow: t.$box-shadow;
        outline: 0.0675rem solid a.theme-color('accent');
      }
      &:hover:not(:disabled) {
        background-color: a.theme-color('primary', 'dark');
        box-shadow: t.$box-shadow;
      }
      &:focus {
        background-color: a.theme-color('primary', 'light');
        outline: 0.0675rem solid a.theme-color('accent');
      }
      &:active:not(:disabled) {
        background-color: a.theme-color('primary', 'light');
        box-shadow: none;
        outline: none;
      }
    }
  }

  &::backdrop {
    background: a.theme-color('dark', 'disabled');
  }
}

.button.add-button {
  @include a.text-setting(600);
  font-family: 'Roboto Condensed';
  font-weight: 700;
  margin-inline: auto;
  display: block;
  padding: 1.5rem 3rem;
  border-radius: calc(a.$border-radius / 1.5);
  color: a.theme-color('light');
  background-color: a.theme-color('primary');
  box-shadow: t.$box-shadow;

  &:focus-visible {
    background-color: a.theme-color('primary', 'light');
    box-shadow: t.$box-shadow;
    outline: 0.0675rem solid a.theme-color('accent');
  }
  &:hover:not(:disabled) {
    background-color: a.theme-color('primary', 'dark');
    box-shadow: t.$box-shadow;
  }
  &:focus {
    background-color: a.theme-color('primary', 'light');
    outline: 0.0675rem solid a.theme-color('accent');
  }
  &:active:not(:disabled) {
    background-color: a.theme-color('primary', 'light');
    box-shadow: none;
    outline: none;
  }
}
