// -----------------------------------------------------------------------------
// This file contains all styles related to the add book button component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as a;
@use '../themes/' as t;

.add-button {
  @include a.text-setting(700);
  margin-inline: auto;
  display: block;
  padding: 1.5rem 3rem;
  border-radius: a.$border-radius / 2;
  background-color: a.theme-color('foreground');
  box-shadow: t.$box-shadow;
}
