/// Load custom modules
@use '../abstracts/' as a;
@use '../themes/' as t;

$book-info-height: a.$size-unit * 10;
$book-info-radius: $book-info-height / 2;
$book-label-radius: $book-info-height / 2 + a.$size-unit;

.book {
  display: grid;
  grid-template-columns: a.$size-unit repeat(5, $book-info-height) a.$size-unit;
  grid-template-rows: a.$size-unit $book-info-height a.$size-unit;

  .book__label {
    background-color: a.theme-color('foreground');
    border-radius: $book-label-radius a.$border-radius a.$border-radius $book-label-radius;
    grid-column: 1 / 5;
    grid-row: 1 / -1;
    box-shadow: t.$box-shadow;
  }

  .book__button-status {
    border-radius: $book-info-radius * 0.75;
    width: $book-info-height * 0.75;
    height: $book-info-height * 0.75;
    justify-self: center;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: a.theme-color('foreground');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    & {
      &--not-read {
        background-image: url('./circle.svg');
      }

      &--is-read {
        background-image: url('./read.svg');
      }
    }
  }

  .book__main {
    grid-column: 3 / 7;
    grid-row: 2 / 3;
    display: grid;
    box-shadow: t.$box-shadow;
    background-color: a.theme-color('foreground');
    grid-template-columns: 2fr 1fr;
    border-radius: a.$border-radius $book-label-radius $book-label-radius a.$border-radius;

    &__info {
      padding: a.$size-unit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        h3 {
          @include a.text-setting(600);
        }
      }

      &__author {
        h4 {
          @include a.text-setting(400);
        }
      }

      &__pages {
        @include a.text-setting(300);
      }

      &__genres {
        @include a.text-setting(300);

        & > ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          list-style: none;
          column-gap: a.$size-unit;
        }
      }
    }
  }

  &__button-delete {
    border-radius: $book-info-radius * 0.5;
    width: $book-info-height * 0.5;
    height: $book-info-height * 0.5;
    justify-self: center;
    align-self: center;
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    background-image: url('./delete.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-color: a.theme-color('foreground');
  }
}
