/// Load custom modules
@use '../abstracts/' as a;
@use '../themes/' as t;

$book-info-height: calc(a.$size-unit * 10);
$book-info-radius: calc($book-info-height / 2);
$book-label-radius: calc($book-info-height / 2 + a.$size-unit);

.book {
  display: grid;
  grid-template-columns: a.$size-unit repeat(5, $book-info-height) a.$size-unit;
  grid-template-rows: a.$size-unit $book-info-height a.$size-unit;

  .book__label {
    background-color: a.theme-color('foreground');
    border-radius: $book-label-radius a.$border-radius a.$border-radius $book-label-radius;
    grid-column: 1 / 5;
    grid-row: 1 / -1;
    box-shadow: t.$box-shadow;
  }

  .book__main {
    grid-column: 3 / 7;
    grid-row: 2 / 3;
    display: grid;
    box-shadow: t.$box-shadow;
    background-color: a.theme-color('foreground');
    grid-template-columns: 3fr 1fr;
    border-radius: a.$border-radius $book-label-radius $book-label-radius a.$border-radius;

    &__info {
      padding: a.$size-unit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__author {
        @include a.text-setting(500);
        font-weight: 300;
        line-height: 1;
      }

      &__title {
        @include a.text-setting(600);
        line-height: 1;
      }

      &__pages {
        @include a.text-setting(300);
        font-weight: 500;
        line-height: 1;
      }

      &__genres {
        @include a.text-setting(300);

        & > ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          list-style: none;
          column-gap: a.$size-unit;
        }
      }
    }
  }

  &__button {
    border-radius: calc($book-info-radius * 0.75);
    width: calc($book-info-height * 0.75);
    height: calc($book-info-height * 0.75);
    justify-self: center;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:focus-visible {
      background-color: a.theme-color('foreground', 'light');
      outline: 0.0675rem solid a.theme-color('accent');
      box-shadow: t.$box-shadow;
    }
    &:hover:not(:disabled) {
      background-color: a.theme-color('foreground', 'dark');
      box-shadow: t.$box-shadow;
    }
    &:focus {
      background-color: a.theme-color('foreground', 'light');
      outline: 0.0675rem solid a.theme-color('accent');
    }
    &:active:not(:disabled) {
      background-color: a.theme-color('foreground', 'light');
      box-shadow: none;
      outline: none;
    }
  }

  &__button-status {
    &--not-read {
      background-image: url('./circle-green.svg');
    }

    &--is-read {
      background-image: url('./read-white.svg');
      background-color: a.theme-color('success');
      &:hover:not(:disabled) {
        background-color: a.theme-color('success', 'dark');
        box-shadow: t.$box-shadow;
      }
      &:focus {
        background-color: a.theme-color('success', 'light');
        outline: 0.0675rem solid a.theme-color('accent');
      }
      &:active:not(:disabled) {
        background-color: a.theme-color('success', 'light');
        box-shadow: none;
        outline: none;
      }
    }
  }

  &__button-delete {
    border-radius: calc($book-info-radius * 0.5);
    width: calc($book-info-height * 0.5);
    height: calc($book-info-height * 0.5);
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    background-image: url('./delete-red.svg');
  }
}
