// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use '../abstracts' as a;
@use '../themes' as t;

.button {
  border: 0;
  cursor: pointer;
}
